#myForm div.formElement{
	padding:5px;
	margin:12px 0px;
}
#myForm label{
	font-weight: bold;
}
#myForm em{color:red}
#myForm input{
	width:95%;
	max-width:100%;
	border:1px solid #BBB;
	border-radius:5px;
	padding:5px;
}
#myForm input.errorRed{
	border:1px solid red;
}
#myForm span.formDescription{
	display:block;
	font-size:0.9rem;
	color:#888;
	margin:2px 0;
}
#myForm span.formError{
	display:block;
	font-size:0.9rem;
	color:red;
	margin-top:3px;
}
#myCheckBoxWrapper input{
	width:20px;
}
#myFormExcutionBt button{
	padding:5px 10px;
	margin: 10px 5px;
	border:2px solid #00FF3B;
	background-color:#43FF6B;
	border-radius:5px;
	color:fff;
}
.shadowBt{
  box-shadow: 4px 4px 5px #444444;
}
.shadowBt:hover, .shadowBt:active{
	box-shadow: none;
}